.glyphicon-th, .glyphicon-th-list {
  margin-right: 5px;
}

#products {
  margin-top: 40px;
}

.filter-trigger {
  /*position: absolute;*/
  top: 0;
  left: 0;
  height: 20px;
  line-height: 20px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("../../assets/images/filter-icon.svg") no-repeat center center;
  z-index: 3;
}

@media only screen and (min-width: 1170px) {
  .filter-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: #7b7b7b;
    text-transform: uppercase;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    font-weight: bold;
  }

  .filter-trigger:hover {
    text-decoration: none;
  }
}
