<div class="container">
  <div class="col-xs-9 col-xs-offset-1 col-sm-10 col-sm-offset-0 col-md-10 col-md-offset-0 col-lg-10 col-lg-offset-0">
    <h2>{{category}}
      <div class="btn-group pull-right">
        <a id="grid" class="btn btn-default btn-sm active" title="Grid">
          <span class="glyphicon glyphicon-th"></span>Grid</a>
        <a id="list" class="btn btn-default btn-sm" title="List">
          <span class="glyphicon glyphicon-th-list"></span>List</a>
      </div>
    </h2>
    <div id="products" class="row list-group">
      <app-blueprint *ngFor="let blueprint of blueprints"
                     [blueprint]="blueprint"></app-blueprint>
    </div>
  </div>
</div>
