<div class="item col-xs-4 col-lg-4">
  <div class="thumbnail list-group-item-success">
    <a title="Save Item" role="button" (click)="onClickHeart()"
       *ngIf="authService.isAuthenticated(); else notAuthSignin">
        <span *ngIf="!clickedHeart"
              class="glyphicon glyphicon-heart-empty"></span>
      <span *ngIf="clickedHeart"
            class="glyphicon glyphicon-heart"></span>
    </a>
    <ng-template #notAuthSignin>
      <a title="Save Item" style="cursor: pointer;"
         data-toggle="modal" data-target="#myModalSignin">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </a>
    </ng-template>
    <img class="group list-group-image" src="../assets/images/blue.jpg" alt="Blue Background"/>
    <div class="caption">
      <h4 class="group inner list-group-item-heading text-capitalize text-center">
        <strong>
          <a title="{{blueprint}}" style="cursor: pointer;"
             [routerLink]="['/details', blueprint]">{{blueprint}}</a>
        </strong>
      </h4>
      <p class="group inner list-group-item-text">
        Blueprint description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      </p>
      <br>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p class="lead">
            $21.000</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <a class="btn btn-success">Add to orders</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalSignin" role="dialog">
  <app-signin></app-signin>
</div>
