<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
  <div class="showcase-block">
    <div class="display-logo">
      <h2>
        <strong>
          <a title="{{categoryItem.name}}"
             [routerLink]="['/category', categoryItem.name]">
            {{categoryItem.name}}
            <div class="showcase-img">
              <img alt="Category Image"
                   src="../assets/images/blue.jpg">
            </div>
          </a>
        </strong>
      </h2>
    </div>
  </div>
</div>
