<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" type="button"
              data-dismiss="modal">&times;
      </button>
      <h4 class="modal-title">Register</h4>
    </div>
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="modal-body">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email"
                 ngModel class="form-control">
        </div>
        <div class="form-group">
          <label for="password">
            Password (at least 6 characters)</label>
          <input type="password" id="password" name="password"
                 ngModel class="form-control">
        </div>
        <app-alerts [flagError]="true"
                    [flagSuccess]="false"></app-alerts>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Sign Up
        </button>
        <button class="btn btn-default" type="button"
                data-dismiss="modal">Close
        </button>
      </div>
    </form>
  </div>
</div>
