<div class="input-group input-group-lg">
  <input type="text" class="form-control"
         placeholder="Search for category..."
         title="Search for category..."
         #inputCategory
         (keydown.enter)="onSearchCategory()"
         (keydown)="onKeyDown()"
         list="suggestions">
  <datalist id="suggestions" *ngIf="keyDownFlag">
    <app-suggestions></app-suggestions>
  </datalist>
  <div class="input-group-btn">
    <button class="btn btn-default" type="button" title="Search"
            (click)="onSearchCategory()">
      <i class="glyphicon glyphicon-search"></i>
    </button>
  </div>
</div>
