<app-breadcrumbs></app-breadcrumbs>
<div class="container-fluid">
  <div class="content-wrapper">
    <div class="item-container">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <hr class="hideHr">
          <div class="product col-xs-3 xol-sm-3 col-lg-3 service-image-left">
            <img id="item-display" alt=""
                 src="../assets/images/blue.jpg">
          </div>
          <div class="container service1-items col-xs-2 xol-sm-2 col-lg-2 pull-left">
            <a id="item-1" class="service1-item">
              <img alt="" src="../assets/images/blue.jpg">
            </a>
            <a id="item-2" class="service1-item">
              <img alt="" src="../assets/images/blue.jpg">
            </a>
            <a id="item-3" class="service1-item">
              <img alt="" src="../assets/images/blue.jpg">
            </a>
          </div>
          <div class="product-title col-lg-offset-5">
            <h2>
              <strong>
                <a [routerLink]="['/details', blueprintName]"
                   fragment="information" title="{{blueprintName}}"
                   style="cursor: pointer;">{{blueprintName}}</a>
              </strong>
            </h2>
          </div>
          <div class="product-desc col-lg-offset-5">
            Blueprint description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
            euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </div>
          <br>
          <div class="rating col-lg-offset-5">
            <div class="product-rating">
              <a [routerLink]="['/details', blueprintName]"
                 fragment="ratings">
                <span class="glyphicon glyphicon-star gold"></span>
                <span class="glyphicon glyphicon-star gold"></span>
                <span class="glyphicon glyphicon-star gold"></span>
                <span class="glyphicon glyphicon-star gold"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </a>
              <br>
              <!--<span class="review">41 reviews</span>-->
            </div>
          </div>
          <!--<hr>-->
          <!--<div class="product-price">$ 1234.00</div>-->
          <!--<div class="product-stock">In Stock</div>-->
          <hr class="col-lg-offset-5">
          <div class="btn-group cart col-lg-offset-1">
            <button *ngIf="authService.isAuthenticated(); else notAuthSigninOrder"
                    class="btn btn-success"
                    title="Add to Orders" type="button"
                    (click)="onAddOrders()">
              Add to Orders
            </button>
            <ng-template #notAuthSigninOrder>
              <button class="btn btn-success"
                      title="Add to Orders" type="button"
                      data-toggle="modal" data-target="#myModalSignin">
                Add to Orders
              </button>
            </ng-template>
          </div>
          <div class="btn-group col-lg-offset-0">
            <button *ngIf="authService.isAuthenticated(); else notAuthSignin"
                    class="like btn btn-default"
                    title="Save Item" type="button"
                    (click)="onClickHeart()">
              <span *ngIf="!clickedHeart"
                    class="glyphicon glyphicon-heart-empty"></span>
              <span *ngIf="clickedHeart" title="Remove Item"
                    class="glyphicon glyphicon-heart"></span>
            </button>
            <ng-template #notAuthSignin>
              <button class="like btn btn-default"
                      title="Save Item" type="button"
                      data-toggle="modal" data-target="#myModalSignin">
                <span class="glyphicon glyphicon-heart-empty"></span>
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="col-lg-12 product-info">
        <ul id="myTab" class="nav nav-tabs nav_tabs">
          <li [ngClass]="{active: description}">
            <a (click)="onDescription()"
               style="cursor: pointer;" title="description"
               data-target="#service-one" data-toggle="tab">
              DESCRIPTION</a>
          </li>
          <li [ngClass]="{active: information}">
            <a (click)="onInformation()"
               style="cursor: pointer;" title="information"
               data-target="#service-two" data-toggle="tab">
              PRODUCT INFO</a>
          </li>
          <li [ngClass]="{active: ratings}">
            <a (click)="onRatings()"
               style="cursor: pointer;" title="ratings"
               data-target="#service-three" data-toggle="tab">
              RATINGS</a>
          </li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div [ngClass]="{active: description}"
               class="tab-pane fade in" id="service-one">
            <section class="container">
              <h3>{{blueprintName}} Features:</h3>
              <li>...</li>
              <li>...</li>
              <li>...</li>
              <li>...</li>
              <li>...</li>
            </section>
          </div>
          <div [ngClass]="{active: information}"
               class="tab-pane fade in" id="service-two">
            <section class="container">
              <h3>{{blueprintName}} Info:</h3>
              <li>...</li>
              <li>...</li>
              <li>...</li>
              <li>...</li>
              <li>...</li>
            </section>
          </div>
          <div [ngClass]="{active: ratings}"
               class="tab-pane fade in" id="service-three">
            <section class="container">
              <h3>{{blueprintName}} Ratings:</h3>
              <li>...</li>
              <li>...</li>
              <li>...</li>
              <li>...</li>
              <li>...</li>
            </section>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModalSignin" role="dialog">
  <app-signin></app-signin>
</div>
