.param {
  margin-bottom: 7px;
  line-height: 1.4;
}

.param-inline dt {
  display: inline-block;
}

.param dt {
  margin: 0;
  margin-right: 7px;
  font-weight: 600;
}

.param-inline dd {
  vertical-align: baseline;
  display: inline-block;
}

.param dd {
  margin: 0;
  vertical-align: baseline;
}

.shopping-cart-wrap .price {
  color: #007bff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  display: block;
}

var {
  font-style: normal;
}

.media img {
  margin-right: 1rem;
}

.img-sm {
  width: 90px;
  height: 85px;
  /*max-height: 75px;*/
  object-fit: cover;
}

.inline {
  display: inline;
}

a {
  text-decoration: none;
  color: #005c8a;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a:focus, a:hover {
  text-decoration: none;
  /*color: #fb730f;*/
  color: #102e5d;
}
