<div class="container">
  <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-0 col-lg-11 col-lg-offset-0">
    <div *ngIf="!orders[0]">
      <h3>You haven't ordered any items yet.</h3>
    </div>
    <div *ngIf="orders[0]" class="card">
      <table class="table table-hover shopping-cart-wrap">
        <thead class="text-muted">
        <tr>
          <th scope="col">Product</th>
          <th scope="col" width="80">Price</th>
          <th scope="col" width="100" class="text-right">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let blueprint of orders">
          <td>
            <a [routerLink]="['/details', blueprint]"
               style="cursor: pointer;" title="{{blueprint}}">
              <figure class="media">
                <div class="img-wrap inline">
                  <img src="../assets/images/blue.jpg"
                       class="img-thumbnail img-sm">
                </div>
                <figcaption class="media-body inline">
                  <h4 class="title inline">{{blueprint}}</h4>
                  <dl class="param param-inline small inline">
                    <dt>...</dt>
                    <dd>...</dd>
                  </dl>
                  <dl class="param param-inline small inline">
                    <dt>...</dt>
                    <dd>...</dd>
                  </dl>
                </figcaption>
              </figure>
            </a>
          </td>
          <td>
            <div class="price-wrap">
              <var class="price">$ 145</var>
            </div>
          </td>
          <td class="text-right">
            <button (click)="onRemove(blueprint)"
                    type="button" title="Delete the Order"
                    class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-trash"
                    aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
