<div class="container">
  <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
    <nav class="navbar">
      <div class="navbar-header">
        <h3>Filters: {{category}}</h3>
      </div>
      <br>
      <div class="navbar-text">
        <app-filter
          *ngFor="let radioFilter of radioFilters"
          [filter]="radioFilter" [inputType]="'radio'"></app-filter>
      </div>
      <div class="navbar-text">
        <app-filter
          *ngFor="let checkboxFilter of checkboxFilters"
          [filter]="checkboxFilter" [inputType]="'checkbox'"></app-filter>
      </div>
      <button class="btn btn-danger" title="Show Results"
              (click)="onShowResults()">Show Results
      </button>
    </nav>
  </div>
</div>
