<div class="container">
  <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-lg-11 col-lg-offset-0">
    <div class="panel-group" id="accordionFavorites">
      <div class="buttons-wrapper">
        <i class="plus-icon"></i>
        <div class="open-btn">
          Open all
        </div>
        <div class="close-btn hidden">
          Close all
        </div>
      </div>
      <br>
      <div *ngFor="let favorite of favorites; let index = index;"
           class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a role="button" class="active" data-toggle="collapse"
               data-parent="#accordionFavorites"
               [attr.data-target]="'#myCollapse_' + index">
              <i class="plus-icon"></i>
              {{favorite}}
            </a>
          </h4>
        </div>
        <div [attr.id]="'myCollapse_'+ index"
             class="panel-collapse collapse">
          <div class="panel-body">
            Blueprint description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
