<div class="container">
  <div class="row" style="margin-top:40px;">
    <div class="col-md-6">
      <div class="well well-sm">
        <div class="text-right">
          <a class="btn btn-success btn-green"
             data-target="#reviews-anchor"
             id="open-review-box">Write a Review</a>
        </div>
        <div class="row" id="post-review-box" style="display:none;">
          <div class="col-md-12">
            <form accept-charset="UTF-8" action="" method="post">
              <input id="ratings-hidden" name="rating" type="hidden">
              <textarea class="form-control animated" cols="50"
                        id="new-review" name="comment"
                        placeholder="Enter your review here..."
                        rows="5"></textarea>
              <div class="text-right">
                <div class="stars starrr" data-rating="0">
                  <span class="glyphicon glyphicon-star-empty"
                        style="cursor: pointer;"
                        title="Very Bad"></span>
                  <span class="glyphicon glyphicon-star-empty"
                        style="cursor: pointer;"
                        title="Bad"></span>
                  <span class="glyphicon glyphicon-star-empty"
                        style="cursor: pointer;"
                        title="Okay"></span>
                  <span class="glyphicon glyphicon-star-empty"
                        style="cursor: pointer;"
                        title="Good"></span>
                  <span class="glyphicon glyphicon-star-empty"
                        style="cursor: pointer;"
                        title="Very Good"></span>
                </div>
                <a class="btn btn-danger btn-sm" id="close-review-box"
                   style="display:none; margin-right: 10px;">
                  <span class="glyphicon glyphicon-remove"></span>
                  Cancel</a>
                <button class="btn btn-success btn-lg"
                        type="submit">Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
