<div class="modal-dialog modal-sm">
  <div class="modal-content animate">
    <div class="modal-header" style="padding:30px 30px;">
      <button class="close" type="button"
              data-dismiss="modal">&times;
      </button>
      <h4 class="modal-title">
        <span class="glyphicon glyphicon-lock"></span> Login</h4>
    </div>
    <div class="modal-body" style="padding:20px 20px;">
      <form (ngSubmit)="onSignin(f)" #f="ngForm" role="form">
        <div class="form-group">
          <label class="control-label">
            <span class="glyphicon glyphicon-user"></span>
            Username</label>
          <input type="email" name="email" ngModel required
                 placeholder="Enter email" class="form-control">
        </div>
        <div class="form-group">
          <label class="control-label">
            <span class="glyphicon glyphicon-eye-open"></span>
            Password</label>
          <input type="password" name="password" ngModel required
                 placeholder="Enter password" class="form-control">
        </div>
        <div class="checkbox">
          <label><input type="checkbox" value="remember"
                        checked="checked">Remember me</label>
        </div>
        <button class="btn btn-success btn-block" type="submit">
          <span class="glyphicon glyphicon-off"></span> Sign In
        </button>
      </form>
      <br>
      <app-alerts [flagError]="true"
                  [flagSuccess]="false" [flagInfo]="false"></app-alerts>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger btn-default pull-left" type="submit"
              data-dismiss="modal">
        <span class="glyphicon glyphicon-remove"></span> Cancel
      </button>
      <p>Not a member?
        <a title="Sign Up" style="cursor: pointer;"
           data-toggle="modal" data-target="#myModalSignup"
           (click)="onClickSignup()">Sign Up</a></p>
      <p>Forgot
        <a title="Password?" style="cursor: pointer;">Password?</a></p>
    </div>
  </div>
</div>
