<div class="container">
  <div class="card hovercard">
    <div class="card-background">
      <img src="../assets/images/blue.jpg" alt="Blue Background"
           class="img-thumbnail">
    </div>
    <div class="useravatar">
      <img src="../assets/images/avatar.png" alt="Avatar"
           class="avatar">
    </div>
    <div class="card-info">
      <span class="card-title">{{emailAccount}}</span>
    </div>
  </div>
  <div class="btn-pref btn-group btn-group-justified btn-group-lg"
       role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" id="profile" class="btn btn-default"
              data-toggle="tab" data-target="#tab1"
              (click)="onClickProfile()">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <div class="hidden-xs">Your Profile</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="favorites" class="btn btn-default"
              data-toggle="tab" data-target="#tab2"
              (click)="onClickFavorites()">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        <div class="hidden-xs">Your Saved Items</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="ratings" class="btn btn-default"
              data-toggle="tab" data-target="#tab3"
              (click)="onClickRatings()">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <div class="hidden-xs">Your Ratings</div>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" id="orders" class="btn btn-default"
              data-toggle="tab" data-target="#tab4"
              (click)="onClickOrders()">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <div class="hidden-xs">Your Orders</div>
      </button>
    </div>
  </div>
  <div class="well col-lg-12 col-lg-offset-0">
    <div class="tab-content">
      <div class="tab-pane fade in" id="tab1">
        <div class="form-inline">
          <label class="control-label">Email:</label>
          <p class="form-control-static">{{emailAccount}}</p>
        </div>
        <div class="form-group">
          <button data-toggle="collapse" data-target="#myCollapse"
                  class="btn btn-info">Change Password
          </button>
        </div>
        <div id="myCollapse" class="collapse col-lg-3 col-lg-offset-0">
          <div class="form-group">
            <label class="control-label"
                   for="currentPsw">Current Password:</label>
            <input type="password" name="password" id="currentPsw"
                   placeholder="Enter current password" #currentPsw
                   class="form-control input-group-sm" required>
          </div>
          <div class="form-group">
            <label class="control-label"
                   for="newPsw">New Password:</label>
            <input type="password" name="password" id="newPsw"
                   placeholder="Enter new password" #newPsw
                   class="form-control input-group-sm" required>
          </div>
          <div class="form-group">
            <label class="control-label"
                   for="reenterNewPsw">Reenter new Password:</label>
            <input type="password" name="password" id="reenterNewPsw"
                   placeholder="Reenter new password" #reenterNewPsw
                   class="form-control input-group-sm" required>
          </div>
          <div class="form-group">
            <button class="btn btn-success"
                    (click)="onSaveChanges(currentPsw.value, newPsw.value, reenterNewPsw.value)">Save Changes
            </button>
          </div>
          <app-alerts [flagInfo]="true" [flagError]="true"
                      [flagSuccess]="false"></app-alerts>
        </div>
      </div>
      <div class="tab-pane fade in" id="tab2">
        <router-outlet *ngIf="favoritesFlag"></router-outlet>
      </div>
      <div class="tab-pane fade in" id="tab3">
        <router-outlet *ngIf="ratingsFlag"></router-outlet>
      </div>
      <div class="tab-pane fade in" id="tab4">
        <router-outlet *ngIf="ordersFlag"></router-outlet>
      </div>
    </div>
  </div>
</div>
