.btn-pref body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0px;
  font-size: 16px;
  color: #848687;
  font-weight: 400;
  line-height: 30px;
  background-color: #f3f5f7;
}

.btn-pref h1, .btn-pref h2, .btn-pref h3, .btn-pref h4, .btn-pref h5, .btn-pref h6 {
  color: #1c1e1e;
  margin: 0px 0px 15px 0px;
  font-weight: 400;
  font-family: 'Roboto Condensed', sans-serif;
}

.btn-pref h1 {
  font-size: 30px;
  line-height: 42px;
}

.btn-pref h2 {
  font-size: 24px;
  line-height: 32px;
}

.btn-pref h3 {
  font-size: 22px;
  line-height: 30px;
}

.btn-pref h4 {
  font-size: 18px;
  line-height: 26px;
}

.btn-pref h5 {
  font-size: 14px;
  font-weight: 400;
}

.btn-pref h6 {
  font-size: 12px;
  font-weight: 400;
}

.btn-pref p {
  margin: 0 0 24px;
  line-height: 1.8;
}

.btn-pref p:last-child {
  margin: 0px;
}

.btn-pref ul, .btn-primary ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-pref a {
  text-decoration: none;
  color: #1009ca;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-pref a:focus, .btn-pref a:hover {
  text-decoration: none;
  color: #fb730f;
}

.btn-pref .alignright {
  float: right;
  margin: 0px 0 20px 30px;
}

.btn-pref .alignleft {
  float: left;
  margin: 0px 20px 0px 0;
}

.card {
  margin-top: 20px;
  padding: 30px;
  background-color: rgba(214, 224, 226, 0.2);
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 1);
}

.card.hovercard .card-background {
  height: 130px;
}

.card-background img {
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  margin-left: -100px;
  margin-top: -200px;
  min-width: 130%;
}

.card.hovercard .useravatar {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}

.card.hovercard .useravatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .card-info {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
}

.card.hovercard .card-info .card-title {
  padding: 0 5px;
  font-size: 20px;
  line-height: 1;
  color: #262626;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.card.hovercard .card-info {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.btn-pref .btn {
  -webkit-border-radius: 0 !important;
  text-decoration: none;
  color: #1009ca;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-pref {
  position: sticky;
  top: 52px;
  z-index: 5;
}

.btn-pref .btn:hover, .btn-pref .btn:focus {
  text-decoration: none;
  color: #fb730f;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.well {
  background-color: #ecffef;
}

.btn-primary {
  background-color: #2ba7ff;
  border-color: transparent;
}

.btn-primary:focus, .btn-primary:hover {
  text-decoration: none;
  color: #fb730f;
  box-shadow: 0px 0px 20px #4bc6ff;
}

.btn-success {
  border-bottom: 2px solid #0a5971;
  text-decoration: none;
  color: #1009ca;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-success:focus, .btn-success:hover {
  border-bottom: 2px solid #0a5971;
  text-decoration: none;
  color: #fb730f;
  box-shadow: 0px 0px 20px #4bc6ff;
}

.btn-info {
  border-bottom: 1px solid rgba(10, 89, 113, 0.23);
  text-decoration: none;
  color: #1009ff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-info:focus, .btn-info:hover {
  border-bottom: 1px solid rgba(10, 89, 113, 0.23);
  text-decoration: none;
  color: #fb730f;
  opacity: 1.00;
  box-shadow: 0px 0px 20px #4bc6ff;
  /*background: rgba(62, 162, 209, 0.62);*/
}

.panel {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
